

body {
  background-color: #f0eaff;
  height: 100%;
}
.tools-container {
  align-items: center;
  background-color: white;
  border-top: 1.25px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 13%;

}
.tools-container h2 {
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.progress-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* width: 80vw; */
}
.App {
  text-align: center;
}
.resume {
  background: white;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
  max-width: 100%;
  position: fixed;
  width: 100%;
}
.qrcode {
  padding: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 12%;
  width: 80%;
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}
.contactForm > #message {
  height: 25vh;
}
.contactForm > input,
#message,
button {
  border-radius: 3px;
  font-family: Roboto;
  margin: 10px;
  padding: 5px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  display: flex;
  font-size: 1.65rem;
  font-style: bold;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}
h3 {
  font-size: 14px;
}
.contacth2 {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  padding: 3%;
}
.navbar {
  background-color: #c8b2ffcf;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  margin-top: 9%;
  padding-top: 7%;
  padding-bottom: 5%;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.footer,
.footerCon {
  position: relative;
}

.footer::after,
.footerCon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(
    90deg,
    #ffa1fddf,
    #ffd6acdf,
    #ffffb3df,
    #dcffb9df,
    #bbffdddf,
    #bbffffdf,
    #9ccdfddf,
    #b9b9ffdf,
    #d7adffdf
  );
  background-size: 200% 100%;
  animation: rainbow-border 8s linear infinite;
}

.footer {
  background-color: #c8b2ffad;
  border-bottom: 1px solid black;
  border-top: 1px solid #000000;
  font-family: Roboto;
  font-size: 12px;
  padding: 25px 0 25px 0;
  width: 100%;
}
.footerCon {
  background-color: #c8b2ffa1;
  border-bottom: 1px solid black;
  border-top: 1px solid #000000;
  font-family: Roboto;
  font-size: 12px;
  justify-content: center;
  padding: 25px 0 25px 0;
  width: 100%;
}

.hamburger-menu {
  display: none;
}
a {
  font-style: normal;
  text-decoration: none;
}
.navbar,
h2,
h3 {
  font-family: Raleway;
  font-weight: 400;
}
.navbar-links {
  display: flex;
  width: 100%;
}
.navbar-link {
  color: rgb(0, 0, 0);
  font-size: 1.15rem;
  padding-right: 10px;
}

.navbar-link:hover {
  letter-spacing: 3px;
}

.navbar-link:active {
  letter-spacing: 5px;
}

.navbar-links div {
  justify-items: center;
  width: 100%;
}
.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.circle-container {
  margin-top: 10%;
  max-width: 100%;
}
.circle-image {
  border: 2px #000 groove;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 400px;
  overflow: hidden;
  transition: 0.3s;
  width: 400px;
}
.circle-image:hover {
  box-shadow: rgba(174, 194, 255, 0.4) 0px 0px 0px 3px,
    rgba(194, 255, 248, 0.4) 0px 0px 0px 6px,
    rgba(211, 255, 210, 0.4) 0px 0px 0px 9px,
    rgba(255, 247, 183, 0.4) 0px 0px 0px 12px,
    rgba(255, 202, 242, 0.4) 0px 0px 0px 15px, rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  height: 390px;
  width: 390px;
}
.circle-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.social-links {
  display: flex;
  justify-content: center;
  left: 50%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 35px;
  position: absolute;
  transform: translateX(-50%);
}
.social-links a:not(:last-child) {
  margin-right: 75px;
}
.social-links a {
  align-items: center;
  background-color: #929292;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
button {
  align-items: center;
  background-color: #929292;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: white;
  display: flex;
  font-family: "Arial";
  font-size: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 60%;
}
.qr {
  display: flex;
  height: 250px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10%;
  width: 200px;
}
button:hover,
.social-links a:hover {
  background-color: #929292;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
}
@media (max-width: 775px) {
  .navbar {
    display: flex;
    height: auto;
  }

  .tools-container {
    max-width: 100%;
    overflow-x: hidden;
  }

  .header {
    margin: 0 auto;
    padding: 70px;
    padding-bottom: 10%;
    padding-top: 7%;
    margin-top: 4%; 
    justify-content: center;
  }
  .hamburger-menu {
    display: flex;
    margin-right: 20px;
    padding-right: 10px;
  }
  .navbar-links {
    display: none;
  }
  .navbar-links.open {
    display: flex;
    flex-direction: row;
  }
  .navbar-link {
    font-size: 15px;
  }
  .navbar-links div:first-child {
    margin-top: 0;
  }
  .circle-container {
    align-items: center;
    justify-content: center;
    margin-top: 12%;
  }
  h2 {
    font-size: 1.5rem;
    width: 70%;
  }
  h1 {
    margin-top: 12%;
  }
  .contacth2 {
    margin-top: 12%;
  }
  .circle-image {
    height: 280px;
    margin-bottom: 10px;
    width: 280px;
  }
  .social-links {
    display: flex;
    position: absolute;
    justify-items: center;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .qr {
    display: none;
  }
  .social-links a:not(:last-child) {
    margin-right: 10px;
  }
  .circle-image:hover {
    height: 270px;
    width: 270px;
  }
  /* .footer {
    position: absolute;
  }
  .footerCon {
    position: absolute;
  } */
  .icon {
    max-width: 80px;
  }
  .tools-container h2 {
    padding-top: 8%;
  }
}
